body {
    margin: 0;
    background-color: #FF731A;
}

nav { 
    width: 90vw;
    height: 115px;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    margin-top: 1vh;
}

nav ul { 
    display: flex;
    flex-direction: row;
    width: 60vw;
}

nav li { 
    color: #fff;
    font-size: 20px;
    list-style: none;
    margin-top: auto;
    margin-right: 5vw;
    font-family: 'Montserrat';
}

nav a{ 
    text-decoration: none;
    color: #fff;
}

nav a:hover{ 
    text-decoration:underline; 
}

.div_logo { 
    width: 100px; 
    max-width: 100px;
    min-width: 100px; 
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin: 0;
}

.logo { 
    width: 100%;
    margin: auto;
}

.contato { 
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.contato a{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}

.contato p { 
    margin-right: 2vw;
    font-family: 'Montserrat';
}

.contato img { 
    width: 40px;
    height: 40px;
}

.GERAL {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.lateral { 
    width: 100px;
    max-width: 100px; 
    min-width: 100px;
    height: 85vh;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens{ 
    margin-top: auto;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.lateral img{ 
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    
}

.conteudo {
    width: calc(90vw - 100px); 
    border-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.mensagem{ 
    width: 30vw;
    color: #fff;
    margin-left:5vw;
}

.mensagem h1{ 
    font-family: 'Montserrat';
    font-size: 42px;
    line-height: 60px;
}
.mensagem p{ 
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.foto_engnet img{ 
    width: 600px;
    margin-left: 20%;
    margin-right: 20%;
}


/* PAGINA DE SERVIÇOS */

.servicos_gerias{ 
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: -4vw;
}

.conteudo_servicos{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2vw;
    align-items:center;
    justify-content: center;
    font-family: 'Montserrat';
}
.app {
    margin-left: 5vw;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    width: 22vw; /* 25% da largura da viewport */
    height: 22vw; /* Igual à largura */
    background-color: #fff;
    border-radius: 25px;
    align-items: center;
    text-align:center;
}

.app h1{ 
    font-size: 24px;
}

.app p{
    font-size: 13px;
    line-height: 15px;
    padding: 0 2vw 0 2vw; 
}

.solucoes{ 
    display: flex;
    flex-direction: column;
    width: calc(44vw + 5.5vw);
    height: 22vw; 
    background-color: #fff;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    margin-right: 0;
    margin-left: 5.5vw;
}

.solucoes h1{ 
    font-size: 24px;
}
.solucoes p{ 
    font-size: 13px;
    line-height: 15px;
}


.icones_work{ 
    width: 64px;
    margin-top: 7vh;
    margin-bottom: 2vw; 
}


@media (max-width: 1500px){ 
    .mensagem{ 
        width: 80vw;
        color: #fff;
        margin-left:5vw;
    }
    .mensagem h1{ 
        font-family: 'Montserrat';
        font-size: 3vw;
        line-height: 3vw;
    }
    .mensagem p{ 
        font-family: 'Montserrat';
        font-size: 2vw;
        font-weight: 400;
        line-height: 2vw;
    }
    .foto_engnet img{ 
        width: 80%;
    }

    .icones_work{ 
        width: 5vw;
        margin-top: 7vh;
        margin-bottom: 0; 
    }

    .app h1{ 
        font-size: 1.5vw;
    }
    .app p{ 
        font-size: 0.8vw;
        line-height: 0.9vw;
    }

    .solucoes h1{ 
        font-size: 1.5vw;
    }
    .solucoes p{ 
        font-size: 0.9vw;
    }
}

@media (max-width: 900px){ 
    .conteudo {
        flex-direction:column;
    }

    .mensagem{ 
        width: 80vw;
        color: #fff;
        margin-left:5vw;
    }
    .mensagem h1{ 
        font-family: 'Montserrat';
        font-size: 3vw;
        line-height: 3vw;
        text-align: center;
        margin-right: 15vw;
    }
    .mensagem p{ 
        font-family: 'Montserrat';
        font-size: 2vw;
        font-weight: 400;
        line-height: 2vw;
        text-align: center;
        margin-right: 15vw;
    }
    .contato p { 
        display: none;
    }
    .foto_engnet img{ 
        width: 80%;
        margin: 0 10vw 10vh 10vw; 
    }

    .conteudo_servicos{
        margin-top: 0;
        display: flex;
        flex-direction:column;
        font-family: 'Montserrat';
    }
    .app {
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
        width: 50vw; /* 25% da largura da viewport */
        height: 22vw; /* Igual à largura */
        background-color: #fff;
        border-radius: 25px;
        align-items: center;
        text-align:center;
    }

    .solucoes{ 
        width: 50vw;
        height: 22vw; 
        background-color: #fff;
        margin-top: 2vw;
        margin-right: 0;
        margin-left: 5.5vw;
    }

    .lateral{ 
        height:calc((5 * 22vw) + ( 5*2vw));
    }
    
}
